<div class="form">

    <ul class="tab-group">
        <li class="tab active"><a href="" ng-click="switchTab('customer')">Customer Detail</a></li>

        <li class="tab"><a href="" ng-click="switchTab('machine')">Machine Detail</a></li>
    </ul>




    <div class="tab-content">


        <div id="customer">


            <h1> <span class="yellow"></span></h1>


            <table class="container">
                <thead>
                    <tr>
                        <th>
                            <h1>Employee Id</h1>
                        </th>
                        <th>
                            <h1>User Name</h1>
                        </th>
                        <th>
                            <h1>Company Name</h1>
                        </th>
                        <th>
                            <h1>Email Address</h1>
                        </th>
                        <th>
                            <h1>Mobile Number</h1>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="customer in entityListVm.customerList">
                        <td>{{customer.CustomerId}}</td>
                        <td>{{customer.Name}}</td>
                        <td>{{customer.CompanyName}}</td>
                        <td>{{customer.Email}}</td>
                        <td>{{customer.MobileNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="machine">

            <h1> <span class="yellow"></span></h1>


            <table class="container">
                <thead>
                    <tr>
                        <th>
                            <h1>Machine model</h1>
                        </th>
                        <th>
                            <h1>Machine make</h1>
                        </th>
                        <th>
                            <h1>Sl-no</h1>
                        </th>
                        <th>
                            <h1>Running hour</h1>
                        </th>
                        <th>
                            <h1>Loading time</h1>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="machine in entityListVm.machineList">
                        <td>{{machine.MachineId}}</td>
                        <td>{{machine.MachineModel}}</td>
                        <td>{{machine.SerialNo}}</td>
                        <td>{{machine.RunningHours}}</td>
                        <td>{{machine.CurrentLoadingHours}}</td>
                    </tr>
                </tbody>
            </table>
        </div>




    </div>
    <div class="menu-btn center">
        <a class="btn palatin-btn" href="#/addentry">Add Data</a>
    </div>
</div>